services:
  nginx:
    image: nginx:1.28.0-bookworm
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Often needed for hot reload in Docker
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=envy

  # Placeholder for backend service
  # Replace image/command with build context when backend is ready
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"